{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": false,
        "useBuiltIns": "entry"
      }
    ]
  ],
  "plugins": [
//    "babel-plugin-add-module-exports" вроде вообще не надо
//    "@babel/plugin-external-helpers"
  ]
}
